@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Khula:700);
@font-face {
    font-family: 'fontwallames';
    src: url('fonts/choplin/choplin-medium.otf') format('opentype');
}
@font-face {
    font-family: 'fontwallamestitulo';
    src: url('fonts/archistico/Archistico_Bold.ttf') format('truetype');
}
@media screen and (min-width: 373px){
    html{
        scroll-behavior: smooth;
    }
  
    
    img{
        width: 130px;
    }
    nav  {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: fixed;
        background-image:linear-gradient(to right, white,white, #092E3D, #1C343D);
        width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 20px 0px;
        justify-content: space-between;
        
    }
    li{
        list-style: none;
        color: #1D8FBD;
        align-items: center;
        text-decoration: none;
        font-family: 'fontwallames';
        font-weight: lighter;
        
        
        
    }
    a{
        font-family: 'fontwallames';
        
        margin-right: 21px;
        font-size: 14px;
    }
    p{
        font-family: 'fontwallames';
        font-weight: medium;
    }
    ul{
        display: flex;
        
        text-decoration: none;
        flex-direction: row;
        font-size: 20px;
        justify-content: space-between;
        
        
    }
    svg{
        width: 240px;
        display: block;
        margin: auto;
        
    }
    .container{
        display: block;
        
        
    }
    .ola{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        
    }

    section{
        min-height: 150vh;
        padding-top: 6rem;
        text-align: justify;
        font-family: 'fontwallames';
        background-color: #092E3D;
        
        
        
        
    }
    #ola{
        background-color: #15698A; 
        padding-top: 6rem;
        height: 500px;    
    }
    
    #Servicos{
        background-color: #15698A;
    }
    #Contato{
        background-color: #1C343D;
    }
    /*li>a:hover{
       
        text-shadow: 2px 2px 5px rgba(19, 19, 19, 0.872);
        background-color: whitesmoke;
        
        border-radius: 4px 4px;
        
    }*/
    li>a::after{
        content: " ";
        width: 0%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
        border-radius: 0px 7px;
        
    }
    li>a{
        position: relative;
    }
    li>a:hover::after{
        width: 100%;
    }
    a:visited{
        color: #EFEFF0;
        
    }
    a:link{
        color: white;
    }
    h1{
        font-family: 'raleway', sans-serif;
        font-weight: 900;
        font-size: 3em;
        text-align: center;
        background-image: url("https://wallpapercave.com/wp/wp8969397.jpg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h3{
        font-family: 'fontwallames';
        font-size: 1.0rem;
        font-weight: lighter;   
        margin: auto;
        color: rgba(255, 255, 255, 0.737);
        padding-top: 60px;
    }
    h2{
        font-family: 'fontwallames', sans-serif;
        font-weight: lighter;
        font-size: 2em;
        text-align: center;
        background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1421640/ss_966c3c0cb3429e0a336f99c5f636106ad56d511a.1920x1080.jpg?t=1600866777");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    body {
        background: #111;
        width:100%;
        
      }
      .hidden {
        opacity:0;
      }
      .console-container {
       
        font-family:'fontwallames';
        font-size:1.8em;
        text-align:center;
        height:220px;
        width:330px;
        
        padding-top: 100px;
        color:white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
      }
      .console-underscore {
         display:inline-block;
        position:relative;
        top:-0.14em;
        left:10px;
      }
      div#rede-social{
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        
        
    }
    #h1-email{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
        
    }   
    
    #h1-instagram{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #h1-github{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #h1-linkedin{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #servicos-linguagem{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        transition: 1s ease-in-out;
       }
      #linguagem{
          padding: 10px;
          margin: 0px 10px;
          display: flex;
          flex-direction: row;
          transition: 1s ease-in-out;
          align-items: center;
          
      }
      h2.linguagem{
          
          text-align: left;
          font-size: 27px;
          align-items: center;
          justify-content: center;
          align-content: space-between;
      }
    }
@media screen and (min-width: 413px){
    html{
        scroll-behavior: smooth;
    }
  
    
    img{
        width: 130px;
    }
    nav  {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        position: fixed;
        background-image:linear-gradient(to right, white,white, #092E3D, #1C343D);
        width: 100%;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
        border-radius: 20px 0px;
        justify-content: space-between;
        
    }
    li{
        list-style: none;
        color: #1D8FBD;
        align-items: center;
        text-decoration: none;
        font-family: 'fontwallames';
        font-weight: lighter;
        
        
        
    }
    a{
        font-family: 'fontwallames';
        padding-left: 3px;
        margin-right: 19px;
        font-size: 15px;
    }
    p{
        font-family: 'fontwallames';
        font-weight: medium;
    }
    ul{
        display: flex;
        
        text-decoration: none;
        flex-direction: row;
        font-size: 20px;
        justify-content: space-between;
        
        
    }
    svg{
        width: 280px;
        display: block;
        margin: auto;
        
    }
    .container{
        display: block;
        
        
    }
    .ola{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: white;
        
    }

    section{
        min-height: 150vh;
        padding-top: 6rem;
        text-align: justify;
        font-family: 'fontwallames';
        background-color: #092E3D;
        
        
        
        
    }
    #ola{
        background-color: #15698A; 
        padding-top: 6rem;
        height: 500px;    
    }
    
    #Servicos{
        background-color: #15698A;
    }
    #Contato{
        background-color: #1C343D;
    }
    /*li>a:hover{
       
        text-shadow: 2px 2px 5px rgba(19, 19, 19, 0.872);
        background-color: whitesmoke;
        
        border-radius: 4px 4px;
        
    }*/
    li>a::after{
        content: " ";
        width: 0%;
        height: 3px;
        background-color: rgb(255, 255, 255);
        position: absolute;
        bottom: 0;
        left: 0;
        transition: 0.5s ease-in-out;
        border-radius: 0px 7px;
        
    }
    li>a{
        position: relative;
    }
    li>a:hover::after{
        width: 100%;
    }
    a:visited{
        color: #EFEFF0;
        
    }
    a:link{
        color: white;
    }
    h1{
        font-family: 'raleway', sans-serif;
        font-weight: 900;
        font-size: 3em;
        text-align: center;
        background-image: url("https://wallpapercave.com/wp/wp8969397.jpg");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    h3{
        font-family: 'fontwallames';
        font-size: 1.8rem;
        font-weight: lighter;   
        margin: auto;
        color: rgba(255, 255, 255, 0.737);
        padding-top: 60px;
    }
    h2{
        font-family: 'fontwallames', sans-serif;
        font-weight: lighter;
        font-size: 4em;
        text-align: center;
        background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1421640/ss_966c3c0cb3429e0a336f99c5f636106ad56d511a.1920x1080.jpg?t=1600866777");
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    body {
        background: #15698A;
        width:100%;
        
    }
    .hidden {
        opacity:0;
    }
    .console-container {
       
        font-family:'fontwallames';
        font-size:2em;
        text-align:center;
        height:220px;
        width:380px;
        
        padding-top: 100px;
        color:white;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
    }
    .console-underscore {
         display:inline-block;
        position:relative;
        top:-0.14em;
        left:10px;
    }
    div#rede-social{
        display: grid;
        width: 100%;
        justify-content: space-evenly;
        
        
    }
    #h1-email{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
        
    }   
    
    #h1-instagram{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #h1-github{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #h1-linkedin{
        font-size: 26px;
        text-transform: uppercase;
        letter-spacing: 8px;
        writing-mode: vertical-lr;
        margin: auto;
        padding-bottom: 20px;
    
    }
    #servicos-linguagem{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        transition: 1s ease-in-out;
       }
      #linguagem{
          padding: 10px;
          margin: 0px 10px;
          display: flex;
          flex-direction: row;
          transition: 1s ease-in-out;
          align-items: center;
          
      }
      h2.linguagem{
          
          text-align: left;
          font-size: 37px;
          align-items: center;
          justify-content: center;
          align-content: space-between;
      }
}
    
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
@media screen and (min-width: 1000px) {
    

html{
    scroll-behavior: smooth;
}
nav  {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: fixed;
    background-image:linear-gradient(to right, white,white, #092E3D, #1C343D);
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px;
    justify-content: space-between;
}
li{
    list-style: none;
    color: #1D8FBD;
    
    text-decoration: none;
    font-family: 'fontwallames';
    font-weight: lighter;
    
    
    
}
a{
    font-family: 'fontwallames';
    padding-left: 20px;
    margin-right: 19px;
    font-size: 22px;
}
p{
    font-family: 'fontwallames';
    font-weight: medium;
}
ul{
    display: flex;
    
    text-decoration: none;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    
    
}
svg{
    width: 450px;
    padding-left: 59px;
    
}
.container{
    display: flex;
    align-items: center;
    width: 100;
}
.ola{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white;
    margin-left: 120px;
}
section{
    min-height: 60vw;
    padding-top: 6rem;
    text-align: justify;
    font-family: 'fontwallames';
    background-color: #092E3D;
    
    
}
#ola{
    background-color: #15698A; 
    padding-top: 6rem;
    height: 500px;
}
#Servicos{
    background-color: #15698A;
}
#Contato{
    background-color: #1C343D;
}
/*li>a:hover{
   
    text-shadow: 2px 2px 5px rgba(19, 19, 19, 0.872);
    background-color: whitesmoke;
    
    border-radius: 4px 4px;
    
}*/
li>a::after{
    content: " ";
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    border-radius: 0px 7px;
    
}
li>a{
    position: relative;
}
li>a:hover::after{
    width: 100%;
}
a:visited{
    color: #EFEFF0;
    
}
a:link{
    color: white;
}
h1{
    font-family: 'raleway', sans-serif;
    font-weight: 900;
    font-size: 4em;
    text-align: center;
    background-image: url("https://wallpapercave.com/wp/wp8969397.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 100px;
}
h3{
    font-family: 'fontwallames';
    font-size: 2rem;
    font-weight: lighter;
    width: 90%;
    margin: auto;
    color: white;
    padding-top: 60px;
}
h2{
    font-family: 'fontwallames', sans-serif;
    font-weight: lighter;
    font-size: 4em;
    text-align: center;
    background-image: url("https://cdn.cloudflare.steamstatic.com/steam/apps/1421640/ss_966c3c0cb3429e0a336f99c5f636106ad56d511a.1920x1080.jpg?t=1600866777");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
body {
    background: #15698A;
    
  }
  .hidden {
    opacity:0;
  }
  .console-container {
   
    font-family:'fontwallames';
    font-size:2em;
    text-align:center;
    height:200px;
    width:600px;
    
    padding-top: 100px;
    color:white;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }
  div#rede-social{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    align-items: top;
  }
  #h1-email{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
    writing-mode: vertical-lr;
    margin: auto;
    
 }
 
 #h1-instagram{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
    writing-mode: vertical-lr;
    margin: auto;

 }
 #h1-github{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
    writing-mode: vertical-lr;
    margin: auto;

 }
 #h1-linkedin{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 8px;
    writing-mode: vertical-lr;
    margin: auto;

 }
 #servicos-linguagem{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  transition: 1s ease-in-out;
 }
#linguagem{
    padding: 10px;
    margin: 0px 10px;
    display: flex;
    flex-direction: row;
    transition: 1s ease-in-out;
    align-items: center;
    
}
h2.linguagem{
    
    text-align: left;
    font-size: 47px;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}

}